body {
font-family: 'Open Sans', sans-serif;
}
div {
    padding: 50px;
    margin: auto;
    width: 170px;
    /* width: 500px; */
    text-align: center;
    background: linear-gradient(#403737, #7b7575);
}
h1 {
    text-align: center;
}
time {
    display: flex;
    flex-direction: column;
    background-color: white;
    transform: rotate(-9deg);
    font-size: 2rem;
    position: relative;   
    box-shadow: 1px 8px 0px 6px #33332f;
    /* row-gap: 10px; not working on chrome*/
}

span#currentDate {
    border-bottom: 11px solid #e9dbdb;
    font-size: 4rem;
    font-weight: 700;
}
span#currentMonth {
    background: red;
    color: white;
    padding: 5px;
}